//desktops
@media (min-width: 1200px) and (max-width: 1399px) {

}

//desktops
@media (min-width: 992px) and (max-width: 1199px) {
  .header-social a span {
    display: none;
  }
  .header-social {
    margin-left: 80px;
  }
  .advantage-item p {
    font-size: 24px;
  }
  .advantage-item span {
    font-size: 16px;
  }
  .slider, .advantage, .catalog, .about {
    margin-bottom: 60px;
  }
  .footer {
    margin-top: 90px;
  }
  .catalog-tab-link {
    font-size: 16px;
  }
  .product-img {
    height: 260px;
  }

}

//tablets
@media (min-width: 768px) and (max-width: 991px) {
  .header-phone {
    display: none;
  }
  .header-social a span {
    display: none;
  }
  .slider-caption {
    width: 70%;
    padding: 60px 0 0 40px;
  }
  .slider-caption h1 {
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .slider-content p {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 120%;
  }
  .download-price {
    width: 100px;
    height: 100px;
    font-size: 17px;
  }
  .main-slider .swiper-slide {
    border-radius: 0 0 0 100px;
  }
  .main-slider .swiper-slide:before {
    border-radius: 0 0 0 100px;
  }
  .slider, .advantage, .catalog, .about {
    margin-bottom: 30px;
  }
  .advantage-item {
    padding: 30px;
    width: 50%;
  }
  .advantage-box {
    flex-wrap: wrap;
  }
  .advantage-item p {
    font-size: 24px;
  }
  .advantage-item span {
    font-size: 17px;
  }
  .catalog-content {
    display: block;
  }
  .catalog-content-left {
    width: 100%;
  }
  .catalog-tabs {
    display: flex;
    flex-direction: row;
  }
  .catalog-tabs li {
    width: fit-content;
  }
  .catalog-tab-link {
    padding: 10px 12px;
    border-bottom: none;
  }
  .catalog-tab-link.active {
    border-bottom: 2px solid #ff2221;
  }
  .catalog-content-right {
    width: 100%;
    margin-top: 30px;
  }
  .about-row {
    display: block;
  }
  .about-left, .about-right {
    width: 100%;
  }
  .about-right .about-img {
    display: none;
  }
  .about-left .about-caption {
    padding: 0;
  }
  .about-right .about-caption {
    padding: 0;
    margin-top: 30px;
  }
  .footer {
    margin-top: 60px;
  }
  .footer-row {
    flex-wrap: wrap;
  }
  .product-promo-img {
    width: 280px;
  }
  .gallery-item {
    height: 350px;
  }
  .gallery-nav-item {
    height: 80px;
  }
  .product-promo-name p {
    font-size: 24px;
  }

}

//phones
@media (min-width: 320px) and (max-width: 767px) {
  .toggle-mobile-menu {
    display: block;
    position: relative;
    z-index: 21;
    width: 32px;
    height: 22px;
    cursor: pointer;
    margin-left: auto;
  }
  .toggle-mobile-menu span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: #65788E;
    position: absolute;
    transition: 0.2s;
    transform: rotate(0) translate(0, 0);
  }
  .toggle-mobile-menu span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .toggle-mobile-menu span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
  }
  .toggle-mobile-menu span:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  .toggle-mobile-menu.active {
    span:nth-child(1) {
      transform: rotate(45deg) translate(-50%, -50%);
      transform-origin: top left;
      left: 50%;
      top: 50%;
      background: #FF2221;
    }
    span:nth-child(2) {
      transform: translateY(0);
      opacity: 0;
    }
    span:nth-child(3) {
      transform: rotate(-45deg) translate(-50%, 50%);
      transform-origin: bottom left;
      left: 50%;
      bottom: 50%;
      background: #FF2221;
    }
  }
  .header-contact-link {
    display: none;
  }
  .header-nav {
    display: none;
  }
  .header-nav-xs {
    display: block;
  }
  .header-main-menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    padding: 30px 15px;
    background: #41546A;
    transition: opacity .3s;
    will-change: transform;
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .header-main-menu.active {
    visibility: visible;
    opacity: 1;
  }
  .header-nav-link {
    color: #fff;
    font-size: 18px;
  }
  .header-nav-item + .header-nav-item {
    margin-left: 0;
    margin-top: 15px;
  }
  .header-social a svg {
    fill: #fff;
    width: 25px;
    height: 25px;
  }
  .header-social {
    margin-left: 0;
    margin-top: 30px;
  }
  .header-social a span {
    display: none;
  }
  .header-social li + li {
    margin-left: 30px;
  }
  .header-phone {
    margin-left: 0;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
  }
  .feedback-link {
    margin-left: 0;
    margin-top: 30px;
  }
  .slider .container {
    padding: 0;
  }
  .slider-caption {
    width: 100%;
    padding: 30px;
  }
  .slider-caption h1 {
    font-size: 30px;
    line-height: 120%;
  }
  .slider-content p {
    font-size: 20px;
  }
  .download-price {
    width: 120px;
    height: 120px;
  }
  .main-slider .swiper-slide {
    border-radius: 0;
  }
  .main-slider .swiper-slide:before {
    border-radius: 0;
  }
  .slider, .advantage, .catalog, .about {
    margin-bottom: 10px;
  }
  .advantage-box {
    display: block;
  }
  .advantage-item {
    width: 100%;
    padding: 30px 20px;
  }
  .advantage-item p {
    font-size: 24px;
    line-height: 120%;
  }
  .section-title h2 {
    font-size: 24px;
    margin: 14px 0 20px 0;
  }
  .catalog-content {
    display: block;
  }
  .catalog-content-left, .catalog-content-right {
    width: 100%;
  }
  .catalog-content-right {
    margin-top: 20px;
  }
  .product-item {
    width: calc(50% - 15px);
  }
  .product-img {
    height: 200px;
  }
  .product-name p {
    font-size: 16px;
    line-height: 120%;
  }
  .product-price p {
    font-size: 15px;
    line-height: 120%;
  }
  .about-row {
    display: block;
  }
  .about-title h1 {
    font-size: 24px;
    margin: 14px 0 20px 0;
  }
  .about-left, .about-right {
    width: 100%;
  }
  .about-right .about-img {
    display: none;
  }
  .about-left .about-caption {
    padding: 0;
  }
  .about-right .about-caption {
    padding: 0;
    margin-top: 30px;
  }
  .contact-item-desc p, .contact-item-desc a {
    font-size: 16px;
  }
  .contact-item-title p {
    font-size: 18px;
    line-height: 120%;
  }
  .contact-map {
    margin-top: 30px;
    height: 250px;
  }
  .footer {
    margin-top: 40px;
  }
  .footer-row {
    padding: 15px 0 30px 0;
    flex-wrap: wrap;
  }
  .footer-contact-link {
    margin-left: 10px;
  }
  .footer-nav {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .footer-nav-item + .footer-nav-item {
    margin-top: 10px;
  }
  .footer-nav-link {
    font-size: 18px;
    line-height: 120%;
  }
  .footer-social {
    margin-top: 30px;
    width: 50%;
  }
  .footer-social li + li {
    margin-top: 10px;
  }
  .footer-social a span {
    font-size: 18px;
  }
  .footer-social a svg {
    width: 18px;
    height: 18px;
  }
  .footer .contact-item {
    margin-top: 30px;
  }
  .footer .contact-item-title p {
    font-size: 18px;
    line-height: 120%;
  }
  .footer .contact-item-desc a {
    margin-top: 10px;
    padding-left: 28px;
  }
  .footer .contact-item.phone .contact-item-desc a:before {
    width: 20px;
    height: 20px;
    top: 5px;
    transform: initial;
  }
  .product-promo {
    display: block;
  }
  .product-promo-caption {
    margin-left: 0;
    margin-top: 15px;
  }
  .product-promo-name p {
    font-size: 20px;
  }
  .product-detail-tabs .nav-link {
    font-size: 14px;
  }
  .product-detail-tab-content {
    padding: 15px;
  }
  .product-desc p {
    margin: 7px 0;
    font-size: 14px;
    line-height: 120%;
  }
  .product-config-item p {
    font-size: 14px;
  }
  .product-color-list {
    max-width: 100%;
  }
  .product-detail-tab-content td {
    font-size: 13px;
  }
  .product-desc p {
    font-size: 13px;
  }
}

@media (hover: hover) {
  .header-social li:nth-child(1) a:hover svg {
    fill: #58C965;
  }
  .header-social li:nth-child(2) a:hover svg {
    fill: #27A3E2;
  }
  .header-social li:nth-child(3) a:hover svg {
    fill: #D42D79;
  }
  .header-nav-link:hover {
    color: #FF2221;
  }
  .feedback-link:hover {
    color: #fff;
    background: #E10908;
  }
  .feedback-submit:hover {
    background: #E10908;
  }
  .download-price:hover {
    background-color: #E10908;
    color: #fff;
  }
  .header-phone:hover {
    color: #FF2221;
  }
  .product-item:hover {
    .product-img img {
      transform: scale(1.1);
    }

    .product-name p {
      text-decoration: underline;
    }

    .product-price p {
      text-decoration: underline;
    }
  }
  .breadcrumb a:hover {
    color: #FF2221;
  }
}